body {
    width: 100%;
    background-color: white;
}

header {
    /* height: 109px; */            /* автоматически высота 105px. Через какое свойство указать высоту в 109px? */ 
    max-width: 1440px;
    padding: 92px 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    place-content: center space-between;
}

.header__menu {
    display: grid;
    grid-column: 1/2;
    place-content: center start;
}

.header__logo {
    display: grid;
    grid-column: 2/3;
    place-content: center start;    /* на макете лого касается верхней границы header'а */
}

.header__address {
    display: grid;
    grid-column: 3/4;
    place-content: center end;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
}

a.header__link {
    text-decoration: none;
    border-bottom: solid 1px; 
}

p.header__link {                    /* отмена подчёркивания у первого пунка меню */
    text-decoration: none;          /* найди решение убрать подчёркивание у активной ссылки */
    border-bottom: none;            /* как указать, что ссылка активная? */
}

.header__link_home {
    text-decoration: none;
    border-bottom: none;
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 13px;
}

.header__links-list-item {
    list-style-image: url(./images/list_marker.svg);
    list-style-position: inside;
}

.no-bullit {
    list-style-type: none;
    list-style-image: none;
}

.header__logo-image {
    display: block;
}

.header__address-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header__address-list-item {
    list-style: none;
}

a.header__address {
    text-decoration: none;
    border-bottom: solid 1px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
.banner {
    background-image: url(./images/lotus_flower.png);
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 764px;
    z-index: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner__title {
    padding: 165px 50px 0;
    width: 100%;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 2;
}

.line-height_115px {
    line-height: 115px;
}
.accent-span {
    display: flex;
}

.aligned-text {
    text-align: start;
}

.aligned-text_center {
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.aligned-text_right {
    justify-content: end;
    text-align: right;
}

.letter-spacing_60px {
    letter-spacing: 60px;
}

.letter-spacing_30px {
    letter-spacing: 30px;
}
.letter-spacing_0px {
    letter-spacing: 0px;
}

.banner__footer {
    display: flex;
    /* width: 100%; */
    height: 52px;
    margin: 135px 50px 50px auto;
    justify-content: end;
    align-items: baseline;
    gap: 78px;
}

.banner__button {
    background: transparent;
    width: 257px;
    height: 52px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.banner__description {
    display: inline-block;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
}

.word-spacing_16px {
    word-spacing: 16px;
}

.word-spacing_24px {
    word-spacing: 24px;
}

.lots {
    margin: 180px 50px 0;
    display: flex;
    flex-direction: column;
}

.lots__heading {
    margin-left: 40px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    margin-top: 27px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.lots__card-list-item {
    list-style: none;
}

.card {
    width: 430px;
    height: 450px;
    flex-shrink: 0;
}
.card__text-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.card__title {
    padding: 50px 40px 0;
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    /* text-underline-position: under; */
    text-transform: uppercase;
}

.card__text {
    padding: 0 40px 50px;
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.card_type_film {
    background-image: url(./images/card_1.png);
    background-color: darkolivegreen;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(./images/card_2.jpg);
    background-color: darkred;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(./images/card_3.png);
    background-color: darkgoldenrod;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lots__look-more-link {
    margin: 30px 0 0 40px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    margin: 181px 50px 0;
    gap: 25px;
}

.about__black-elips {
    grid-column: 1/2;
    margin: 0 95px;
    padding: 63px 46px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    z-index: 0;
    /* display: block; */
}

.about__logo {
    background-image: url(./images/logo_white.svg);
    width: 148px;
    height: 114px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.about__title {
    margin: 100px 0;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 29px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 23px;
    }