body {
    width: 100%;
    background-color: white;
}

header {
    /* height: 109px; */            /* автоматически высота 105px. Через какое свойство указать высоту в 109px? */ 
    padding: 90px 50px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    place-content: center space-between;
}

.header__menu {
    display: grid;
    grid-column: 1/2;
    place-content: center start;
}

.header__logo {
    display: grid;
    grid-column: 2/3;
    place-content: center start;    /* на макете лого касается верхней границы header'а */
}

.header__address {
    display: grid;
    grid-column: 3/4;
    place-content: center end;
    color: #000;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
}

a.header__link {
    text-decoration: none;
    border-bottom: solid 1px; 
}

p.header__link {                    /* отмена подчёркивания у первого пунка меню */
    text-decoration: none;          /* найди решение убрать подчёркивание у активной ссылки */
    border-bottom: none;            /* как указать, что ссылка активная? */
}

.header__link_home {
    text-decoration: none;
    border-bottom: none;
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 13px;
}

.header__links-list-item {
    list-style-image: url(./images/list_marker.svg);
    list-style-position: inside;
}

.no-bullit {
    list-style-type: none;
    list-style-image: none;
}

.header__logo-image {
    display: block;
}

.header__address-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header__address-list-item {
    list-style: none;
}

a.header__address {
    text-decoration: none;
    border-bottom: solid 1px;
}

